[submodule ".registry"]
	path = .registry
	url = https://github.com/emilianogonlas/emilianogonlas.r-universe.dev
	branch = HEAD
[submodule "diariosuy"]
	path = diariosuy
	url = https://github.com/EmilianoGonLas/diariosuy
	branch = master
